<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="icon" type="image/png" href="static/images/icons/Try-Buy.png">
    <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> 
    <script src="index.js"></script>
    <title>Myntra-ByteCoders</title>
</head>
<body>

<div class="hero">
  <div class="hero-img">
    <img src="https://i.postimg.cc/kMNz5grj/flower.png" alt="Pixel Skincare">
  </div>
  <div class="hero-text">
    <h1>Emotion Based</br>Review system</h1>
    <a href="/runemotion" class="btn">Explore</a>
  </div>
</div>



<!-- Contact Section -->
<section id="contact">
  <div class="wrapper">


    <div class="copy-wrapper">
      <h6><i class="fa fa-copyright" aria-hidden="true"></i> Myntra HackerRamp: Campus Edition 2021 | Team: Bytecoders</h6>
    </div>
  </div>
</section>
</body>
</html>